<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter job applications</title>
</head>
<p>

<h1>Job application tracker</h1>
<h2>This form is to submit details regarding individual job applications sent</h2>

<a href="{{ url_for('searchpage') }}"><h3>Click here to search for list of applied jobs</h3></a>
<p>
    Please enter job application details
</p>

<p>
    <form method="POST" action="/send"/>
        <div class="form-group">
            <p>Role Title <input type="text" name="role_title" required></p>
        </div>
        <div class="form-group">
            <p>Company <input type="text" name="company" required></p>
        </div>
    <div class="form-group">
        <p>Location
            <select name="location">
                <option value="London" selected>London</option>
                <option value="Guildford">Guildford</option>
                <option value="Reading">Reading</option>
                <option value="Maidenhead">Maidenhead</option>
            </select>
        </p>
    </div>
    <div class="form-group">
        <p>Platform
        <select name="platform">
                <option value="LinkedIn">LinkedIn</option>
                <option value="TotalJobs">TotalJobs</option>
                <option value="Reed">Reed</option>
                <option value="Indeed">Indeed</option>
                <option value="Recruiter">Recruiter</option>
                <option value="Google">Google</option>
                <option value="Website" selected>Website</option>
                <option value="Other">Other</option>
            </select>
        </p>
        </div>
        <div class="form-group">
            <p>Submitted cover letter?
                <label for="yes">Yes</label>
                <input type="radio" id="yes" name="cover_letter" value="Yes">
                <label for="no">No</label>
                <input type="radio" id="no" name="cover_letter" value="No" checked></p>
        </div>
        <div class="form-group">
            <p>Date of application <input type="date" name="date_applied" required></p>
        </div>

        <p></p>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>

</p>

</body>
</html>
