<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for a job application</title>
</head>
<form>

<h1>Search</h1>
<a href="{{ url_for('home') }}"><h3>Click here to add another job application to database</h3></a>

<form method="GET" action="/send"/>
        <div class="form-group">
            <p>Search <input type="text" name="query" required></p>
        </div>
    <input class="btn btn-primary" type="submit" value="submit">
</form>

<p>Here</p>


</body>
</html>